.header {
  grid-area: hd;
}

a {
  color: black;
  text-decoration: none;
}

h4 {
  margin: 15px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #bdc3c7;
}

#navbar-element {
  float: left;
  display: inline;
  display: block;
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

#navbar-element:hover {
  transition: 0.8s;
  color: white;
  background-color: #e74c3c;
}

#last-navbar-element {
  float: right;
  display: inline;
  display: block;
  color: black;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border-right: 1px solid #bbb;
}

#last-navbar-element:hover {
  transition: 0.8s;
  color: white;
  background-color: #e74c3c;
}

#first-letter {
  color: #e74c3c;
}
