@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');

h4,
h1 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.main {
  padding: 20px;
  grid-area: main;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
  margin: 0;
}

#container-items {
  flex-grow: 1;
  flex-basis: 25%;
  background-color: none;
  margin: 10px;
  padding: 10px;
  border: 2px solid #e74c3c;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

#container-items:hover {
  color: #fff;
}

#container-items::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #e74c3c;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

#container-items:hover::before {
  height: 180%;
}

/* #fa7861 */
