@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');

h4,
h1 {
  font-family: 'Raleway', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.main {
  padding: 0;
  grid-area: main;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
  margin: 0;
}

#container-items {
  flex-grow: 1;
  flex-basis: 25%;
  background-color: none;
  margin: 10px;
  padding: 10px;
  border: 2px solid #e74c3c;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

#container-items a {
  color: black;
  transition: 0.4s;
}

#container-items a:hover {
  color: white;
}

#container-items:hover {
  color: #fff;
}

#container-items::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #e74c3c;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

#container-items:hover::before {
  height: 180%;
}

.filter-post-article-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-article-btn {
  font-weight: bold;
  border-radius: 10px;
  width: 30%;
  background: none;
  border: none;
  border-bottom: white;
  padding: 5px;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: 0.4s;
  margin: 12px 0;
}

.post-article-btn:hover {
  background-color: #e74c3c;
  color: white;
  border-bottom: black;
}

/* .dropdown button {
  border: none;
  float: right;
  padding: 8px 16px;
  margin: 8px 16px;
  background-color: #e74c3c;
  color: white;
  transition: 0.8s;
}

.dropdown button:hover {
  background-color: white;
  color: #e74c3c;
}

#secondary-button {
  display: block;
}

.dropdown div button {
  display: block;
  text-decoration: none;
  padding: 8px;
} */
