@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');

#filter-btn {
  font-weight: bold;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  border: 0;
  font-size: 20px;
  background-color: white;
}

/* button #filter-btn {
  background: transparent;
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 120%;
  position: relative;
} */

#secondary-button-holder {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#secondary-button {
  border: none;
  border-radius: 10px;
  transition: 0.8s;
}

#secondary-button:hover {
  background-color: #e74c3c;
}

.dropdown {
  float: center;
  margin-bottom: 10px;
  width: 8%;
  background-color: white;
  min-width: 160px;
  padding: 12px 16px;
}
