@import url('https://fonts.googleapis.com/css?family=Raleway:100&display=swap');

@media only screen and (max-width: 768px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android)*/
  #topics-container-items {
    width: 80%;
    background-color: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #e74c3c;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
  }
}

#topics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding-left: 0;
}

#topics-container-items {
  flex-grow: 1;
  flex-basis: 20%;
  background-color: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

#topics-container-items:hover {
  color: #fff;
}

#topics-container-items::before {
  width: 100%;
  content: '';
  position: absolute;
  left: 0;
  height: 0%;
  background: #e74c3c;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

#topics-container-items:hover::before {
  height: 180%;
}

.new-topic-box {
  width: 280px;
}

.login-box h1 {
  float: left;
  font-size: 40px;
  border-bottom: 2px solid;
  padding: 13px 0;
}

#textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid black;
}

#textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}

button:focus {
  outline: none;
}

#new-topic-btn {
  font-weight: bold;
  border-radius: 10px;
  width: 30%;
  background: none;
  border: none;
  border-bottom: white;
  padding: 5px;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  transition: 0.4s;
  margin: 12px 0;
}

#new-topic-btn:hover {
  background-color: #e74c3c;
  color: white;
  border-bottom: black;
}

.btn {
  width: 100%;
  background: none;
  border: 2px solid black;
  color: black;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.form-body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

#topics-container-items a {
  color: black;
  transition: 0.4s;
}

#topics-container-items a:hover {
  color: white;
}
