#topics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

#topics-container-items {
  flex-grow: 1;
  flex-basis: 20%;
  background-color: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid #e74c3c;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

#topics-container-items:hover {
  color: #fff;
}

#topics-container-items::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #e74c3c;
  z-index: -1;
  transition: 0.8s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

#topics-container-items:hover::before {
  height: 180%;
}
